extends: default.liquid

title: ""
---

  {% for post in posts %}
  <article>
    <h3><a href="{{ post.path }}">{{ post.title }}</a></h3>
    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content | truncatewords: 23, '...' }}
    {% endif %}
    </article>
  {% endfor %}
