extends: default.liquid
title: Talks
route: talks
---

<p>
What makes a great public speaker? He's passionate, knowledgeable, and a good storyteller. I strive to become better at all of that.
Here are some of my recent presentations.<br />
If you’d like me to speak at your event, <a href="mailto:&#109;&#097;&#116;&#116;&#104;&#105;&#097;&#115;&#045;&#101;&#110;&#100;&#108;&#101;&#114;&#064;&#103;&#109;&#120;&#046;&#110;&#101;&#116;">let's talk</a>.
</p>

<div>
<h3>What's so hard about writing a Slack Client in Rust?</h3>
<img src="/img/talks/slack-client.jpg" />
<ul>
<li class="talk_location">Rust Usergroup Cologne, March 2017</li>
<li class="talk_video"><a href="https://www.youtube.com/watch?v=rrtJh1kz1Ms">Video</a>
</li>
<li class="talk_slides"><a href="https://speakerdeck.com/mre/whats-so-hard-about-writing-a-slack-client-in-rust">Slides</a></li>
</ul>
"I'll just write a simple API wrapper for that. Give me two hours." Does that sound oddly familiar? Don't be fooled: writing an easy to use, idiomatic abstraction layer is a lot of work - in any language. I want to tell you my story about writing a Slack client in Rust. From documentation to testing and error handling there's a lot of pitfalls to avoid and laughs to share.
</div>

<div>
<h3>Why Rust?</h3>
<img src="/img/talks/why-rust.jpg" />
<ul>
<li class="talk_location">Codemotion Amsterdam, May 2016</li>
<li class="talk_video"><a href="https://www.youtube.com/watch?v=imtejBNbm0o">Video</a></li>
<li class="talk_slides"><a href="https://speakerdeck.com/mre/why-rust">Slides</a></li>
</ul>
Rust is the new kid on the block. It's a system programming language that is blazingly fast and offers powerful high-level abstractions better known from dynamic languages like Ruby or Python. Rust offers memory safety without a Garbage Collector and makes low-level programming easier and more secure. I will give an introductory talk about Rust and show some of its nicest features. 
</div>

<div>
<h3>Rust Tooling</h3>
<ul>
<li class="talk_location">Rust Cologne Meetup, October 2015</li>
<li class="talk_slides"><a href="https://speakerdeck.com/mre/rust-tooling-october-2015">Slides</a></li>
</ul>
What tools are available for Rust development?
This talk gives you an overview of ways to help you write better Rust code.
</div>

<div>
<h3>The State of PyPy</h3>
<img src="/img/talks/pypy.jpg" />
<ul>
  <li class="talk_location">Python Usergroup D&uuml;sseldorf, April 2015</li>
  <li class="talk_video"><a href="https://www.youtube.com/watch?v=YEzuUJGcPqc">Video</a></li>
  <li class="talk_slides"><a href="https://speakerdeck.com/mre/the-state-of-pypy-april-2015">Slides</a></li>
</ul>
PyPy is a relatively new implementation of Python with a focus on performance. In this talk I give an overview of PyPy and how it works internally. Also I talk a bit about PyPy STM, a new approach for parallel code execution that can take advantage of modern multi-core hardware.
</div>

<p>
<h3>More talks</h3>
You can find all my other talks on <a href="https://speakerdeck.com/mre">Speakerdeck</a>.
</p>
