extends: default.liquid
title: Hi!
route: about
---


<p>
I am Matthias, a <strong>passionate Backend Engineer</strong> from Germany.
I am interested in scalability, performance and distributed systems.
</p>

<p>
For some reason I find it super interesting to recreate hardware in software. I <strong>love</strong> it.
Chat with me about programming language internals, emulators and virtual machines.
</p>


<p>
I have an M.Sc. in Computer Science from <a href=https://www.uni-bayreuth.de/en/index.html>Universit&auml;t Bayreuth</a>.<br />
At work I improve the Backend infrastructure of <a href=http://tech.trivago.com/>trivago</a> by making it faster and more reliable.<br />
Nowadays I mostly use <strong>Python</strong>, <strong>Golang</strong> and <strong>PHP</strong> to get stuff done. Whenever I find the time I play with <strong>Rust</strong>, though.
At home I feel like riding my motorcycle, playing guitar in Rock bands and drinking hot chocolate.
</p>


<p>
I love to share what is important to me. Here are some of my recent talks:
  <ul>
    <li><a href="https://www.youtube.com/watch?v=rrtJh1kz1Ms">What's so hard about writing a Slack Client in Rust?</a><br />Rust Usergroup Cologne, March 2017</li>
    <li><a href="https://www.youtube.com/watch?v=imtejBNbm0o">Why Rust?</a><br />cod{e}motion Amsterdam, May 2016</li>
    <li><a href="https://speakerdeck.com/mre/rust-tooling-october-2015">Rust Tooling</a><br />Rust Usergroup Cologne, October 2015</li>
    <li><a href="https://speakerdeck.com/mre/advanced-docker-june-2015">Advanced Docker</a><br />trivago workshop, June 2015</li>
    <li><a href="https://speakerdeck.com/mre/the-state-of-pypy-april-2015">The State of PyPy</a><br />Python Usergroup D&uuml;sseldorf, April 2015</li>
  </ul>
</p>

<p>
You can find my profile on 
<a href="http://github.com/mre/">Github</a>,&nbsp;
<a href="https://twitter.com/matthiasendler">Twitter</a>,&nbsp;
<a href="https://speakerdeck.com/mre">Speaker Deck</a>,&nbsp;
<a href="http://stackoverflow.com/users/270334/mre">Stack Overflow</a>,&nbsp;and&nbsp;
<a href="http://de.linkedin.com/in/endlermatthias">LinkedIn</a>.<br /><br />
<a href="mailto:&#109;&#097;&#116;&#116;&#104;&#105;&#097;&#115;&#045;&#101;&#110;&#100;&#108;&#101;&#114;&#064;&#103;&#109;&#120;&#046;&#110;&#101;&#116;">Drop me a line</a> to get in contact.
</p>
