title: "Hi!"
layout: default.liquid
data:
  css: ~
  route: about
  social_img: ~
  translations: ~
  comments: ~
  static: true
  subtitle: ""
  humandate: ~
---
<p>
I'm Matthias, a Backend Engineer located in D&uuml;sseldorf, Germany.
My interests are scalability, performance and distributed systems.
</p>

<p>
I have an M.Sc. in Computer Science from <a href=https://www.uni-bayreuth.de/en/index.html>Universit&auml;t Bayreuth</a>.<br />
At work I improve the Backend infrastructure of <a href=http://tech.trivago.com/>trivago</a> by making it faster and more reliable.
</p>
<p>
Nowadays I mostly use <i>Python</i>, <i>PHP</i> and <i>Golang</i> to get stuff done.
Whenever I find the time I play with <i>Rust</i>, though.
</p>

<p>
I'm an active member of the following usergroups:
<ul>
  <li><a href="http://www.meetup.com/de/Rust-Cologne-Bonn/">Rust Cologne</a></li>
  <li><a href="https://www.meetup.com/de-DE/Web-Engineering-Duesseldorf/">Web Engineering D&uuml;sseldorf</a></li>
  <li><a href="https://www.pyddf.de/">Python Meeting D&uuml;sseldorf (PyDDF)</a></li>
</ul>
</p>

<p>
At home I feel like riding my motorcycle, playing guitar in Rock bands and drinking hot chocolate. (In that order.)
</p>

<p>
Find <i>even more</i> about me here:
<ul>
  <li><a href="/talks">Talks</a></li>
  <li><a href="http://github.com/mre/">Github</a></li>
  <li><a href="https://twitter.com/matthiasendler">Twitter</a></li>
  <li><a href="http://stackoverflow.com/users/270334/mre">Stack Overflow</a></li>
  <li><a href="http://de.linkedin.com/in/endlermatthias">LinkedIn</a></li>
</ul>
</p>
