extends: default.liquid
title: Hi!
route: about
static: true
---

<img class="inline" src="/img/me.jpg" alt="Matthias Endler" />

<p>
I am Matthias, a Backend Engineer located in D&uuml;sseldorf, Germany.
My interests are scalability, performance and distributed systems.
</p>

<p>
I have an M.Sc. in Computer Science from <a href=https://www.uni-bayreuth.de/en/index.html>Universit&auml;t Bayreuth</a>.<br />
At work I improve the Backend infrastructure of <a href=http://tech.trivago.com/>trivago</a> by making it faster and more reliable.
</p>
<p>
Nowadays I mostly use <strong>Python</strong>, <strong>PHP</strong> and <strong>Golang</strong> to get stuff done. Whenever I find the time I play with <strong>Rust</strong>, though.
At home I feel like riding my motorcycle, playing guitar in Rock bands and drinking hot chocolate.
</p>

<p>
Find even more about me here:
<ul>
  <li><a href="/talks">Talks</a></li>
  <li><a href="http://github.com/mre/">Github</a></li>
  <li><a href="https://twitter.com/matthiasendler">Twitter</a></li>
  <li><a href="http://stackoverflow.com/users/270334/mre">Stack Overflow</a></li>
  <li><a href="http://de.linkedin.com/in/endlermatthias">LinkedIn</a></li>
</ul>
</p>
