// Common variables

$text-color: rgba(0, 0, 0, .8);
$select-text-color:#fff;
$anchor-text-color: #AF403C;
$background-color: #fff;
$select-background-color: #000;
$background-code: #efefef;
$light-color: #888;
$code: #111;
$hr-color: #333;
$blockquote-color: #ededee;
$code-color: #f9f9fa;
$code-border-color: #ededee;
$button-color: $anchor-text-color;
$button-hover-color:#f00;
$button-text: #fff;

// CSS Mini Reset

html,
body,
div,
form,
fieldset,
legend,
label,
h1 {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
caption {
  font-weight: normal;
}

img {
  border: 0;
  max-width: 100%;
}

video {
  max-width: 100%;
}

// Main CSS

h1 {
  font-size: 1.87em;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 0px;
}

h3 {
  margin-top: 50px;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  -moz-font-feature-settings: "liga" on;
  font-feature-settings: "liga" on;
  font-size: 1.25em;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -.003em;
  line-height: 1.58;
  text-rendering: optimizeLegibility;
}

article {
  margin-top: 44px;
}

pre {
  -moz-font-feature-settings: "liga" off;
  font-feature-settings: "liga" off;
  font-size: .92em;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 20px;
  overflow:auto;
}

::-moz-selection {
  background: $select-background-color;
  color: $select-text-color;
}

::selection {
  background: $select-background-color;
  color: $select-text-color;
}

// Wrapper div for header and main
body {
  margin-top: 8%;
}

header {
  font-size: .78em;
  margin: 0 auto 2em;
  max-width: 220px;
  text-align: center;
}

// Anchor tags
a:link,
a:visited,
a:hover,
a:active {
  color: $anchor-text-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  text-align: center;
}

nav ul {
  display: inline-block;
  text-align: initial;
  padding-left: 0px;
}

nav li:not(:first-child):before {
  content: " · ";
}

nav li {
  list-style:none;
  display: inline;
}

.logo {
  background-size: cover;
  display: inline-block;
  height: 150px;
  width: 171px;
}

hr {
  background-color: $hr-color;
  border: 0;
  height: 1px;
  margin: 30px 0;
}

.published-date {
  color: $light-color;
  font-size: .8em;
}

.subtitle {
  margin: 0 0 2em;
}

blockquote {
  border-left: 4px solid $blockquote-color;
  font-style: italic;
  margin: 4px 10px;
  padding: 3px 20px;
}

code {
  background-color: $code-color;
  border: 1px solid $code-border-color;
  border-radius: 6px;
  display: inline-block;
  font-family: "Courier New", "Courier", monospace;
  -moz-font-feature-settings: "liga" off;
  font-feature-settings: "liga" off;
  font-size: 16px;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  max-width: 100%;
  overflow-x: auto;
  padding: 0 5px;
  vertical-align: middle;
  word-wrap: normal;
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
}

.button {
  background-color: $button-color;
  border-radius: 10px;
  color: $button-text;
  margin: 40px auto;
  padding: 10px;
  text-align: center;
}

.button:hover {
  background-color: $button-hover-color;
}

.talk {
  margin-top: 80px;
}

figure {
  font-size: .9em;
  font-style: italic;
  margin: 0 0 40px;
  padding: 0;
  text-align: center;
  text-indent: 0;
}

figcaption {
  margin-top: 10px;
}

.loader {
  position:relative;
  overflow: hidden;
  width: auto;
}

.loader object {
  position: absolute;
}

.loader img, .loader object {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}

// https://stackoverflow.com/a/29111371/270334
// https://stackoverflow.com/a/32928240/270334
object {
  position: relative;
  float: left;
  display: block;
  
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1000px;
    height: 1000px;
    content: '';
    background: #efefef;
  }
}

.frozen {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  transform: scale(1.04);
  animation: 0.2s ease-in 0.4s 1 forwards fade;
  width: 100%;
}

@keyframes fade {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

// Small devices (phones, 520px and below)
@media (max-width: 520px) {
  body {
    padding: 0 20px;
  }

  pre {
    font-size: .85em;
    padding: 5px;
  }

  h1 {
    font-size: 1.6em;
  }

}

// Medium devices (tablets)
@media (min-width: 520px) {
  body {
    margin: 10% auto 0;
    width: 480px;
  }

  h1 {
    font-size: 1.6em;
  }
}

// Desktops
@media (min-width: 1024px) {
  body {
    width: 850px;
  }

  // the header column stays left and has a dynamic width
  // with all contents aligned right
  header {
    float: left;
    width: 210px;
  }

  main, footer {
    margin-left: 260px;
    margin-bottom: 40px;
  }

}

footer {
  margin-bottom: 40px;
}

.links {
  list-style:none;
  display: inline;
}

.field {
  padding: 10px;
  font-size: 0.8em;
}

.submit {
  border: none;
  padding: 12px;
  background-color: #eee;
}